<div data-task-index="<%= task_index %>" style="background-color:<%= task.color? ? task.color : 'lightgrey' %>" class='columns task-div'>
  <!--<div class="task-description">-->
  <div class="column is-3 task-description">
    <%= tag.h4 task.title, class: "has-text-centered #{'done' if task.done?}" %>
    <p style="text-decoration:<%= task.done ? 'line-through' : '' %>"><%= task.description %></p>
    <% if task.done %>
        <h3 class="has-text-centered is-size-4">DONE</h3>
    <% end %>
    <%= link_to task_path(task), method: :delete, data: {confirm: 'are you sure? This will destroy all related steps and statuses'}, class: 'has-text-danger is-size-6' do %>
        <i class="fa fa-trash"></i>
    <% end %>
    |
    <%= link_to 'Edit', edit_task_path(task), class: 'is-size-6', remote: true %>
  </div>

  <div style="border-right: 2px solid black;" class="column is-3">
    <% task.steps.sort_by{|step| step.created_at}.each_with_index do |step, index| %>
        <%= render 'steps/step', step: step, step_index: index %>
    <% end %>
    <%= link_to 'Add step', new_step_path(task_id: task.id), class: 'has-text-info', remote: true %>
  </div>
  <div style="overflow-y:scroll;" class="column is-6">
    <% task.status_updates.order(created_at: :desc).each do |status_update| %>
        <div class="box status-update">
          <span class="status-time"><%= status_update.created_at.strftime("%B %e,%l:%M %p") %></span>
          <%= status_update.body %><br/>
          <%= link_to 'edit', edit_status_update_path(status_update), class: 'has-text-info', remote: true %>
        </div>
    <% end %>
    <%= link_to 'New status', new_status_update_path(task_id: task.id), remote: true %>
  </div>
</div>