<h3 style="text-decoration:<%= project.done ? 'line-through' : '' %>"><strong><%= project.title %></strong> (<%= project.created_at.strftime("%B %Y") %>) </h3>
<div data-project-index="<%= project_index %>" style="position:relative;margin:10px;">
  <h1 class="title has-text-centered"><%= project.title %></h1>
  <% unless project.description.empty? %>
      <h2 class="subtitle has-text-centered"><%= project.description || '[no description]' %></h2>
  <% end %>
  <div class="project-buttons has-text-centered">
    <%= render 'projects/buttons', project: project %>
  </div>

  <%#= link_to 'Open in separate page', project_path(project), class: 'card-footer-item' %>


  <%= render 'tasks/sorted_tasks', tasks: project.sorted_tasks %>
</div>