<!-- hidden by default, in a modal -->
<%= render 'layouts/how_it_works' %>
<section style="background: linear-gradient(90deg, #04C3D5, #0283D6);" class="hero">
  <div class="hero-body">
    <h1 style="color:white;" class="title has-text-centered">
      <%= current_user.first_name + "'s area" %>
      <span class="dashboard-question-circle" class="icon is-medium">
        <i class="fa fa-question-circle is-size-4"></i>
      </span>
    </h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <%= render 'layouts/nav_tabs' %>
  </div>
  <div class="container">
    <div id="mío" style="<%= 'display:none;' unless @open_tab.eql?('mío') %>">
      <%= render 'tasks/now_tasks', now_tasks: @my_now_tasks %>
      <%= render 'projects/base_template', projects: @my_projects, team: false %>
    </div>
    <div id="team" style="<%= 'display:none;' unless @open_tab.eql?('team') %>">
      <%= render 'tasks/now_tasks', now_tasks: @team_now_tasks %>
      <%= render 'projects/base_template', projects: @team_projects, team: true %>
    </div>
    <div id="notes" style="<%= 'display:none;' unless @open_tab.eql?('notes') %>">
    <%= render 'notes/notes', notes: @team_notes %>
  </div>
  </div>
</section>



