<style>
  .task-div {
    height:200px;
    background-color:lightgrey;
    margin:20px;
    position:relative;
  }
  .task-description {
    width: 15%;
    height:88%;
    position:relative;
    top:10%;
    margin:4px;
    overflow-y:auto;
  }
  .step-list {
    width:25%;
    height:100%;
    overflow-y:auto;
    float:right;
    position:absolute;
    left:17%;
    top:0;
    padding-left:2px;
    padding-top:6px;
  }
  .done-step {
    text-decoration:line-through;
  }
  .project-step-border-wall {
    position:absolute;
    left:16%;
    width:3px;
    height:100%;
    background-color:black;
    top:0;
  }
  .step-status-border-wall {
    position:absolute;
    left:42.4%;
    width:2px;
    height:100%;
    background-color:darkgrey;
    top:0;
  }
  .status-updates {
    position:absolute;
    top:0;
    left:42.6%;
    height:100%;
    overflow-x:auto;
  }
  .status-update {
    left:0.6%;
    position:relative;
    width:200px;
    height:90%;
    top:4%;
    float:left;
    margin-right:8px;
    word-wrap:break-word;
    overflow-y:auto;
  }
  .new-update-link {
    position:absolute;
    left:43%;
    bottom:-12%;
  }
  .new-step-link {
    position:absolute;
    left:16.6%;
    bottom:-12%;
  }

  .status-time {
    position:absolute;
    top:0;
    right:0;
    font-size:12px;
  }

  .subtitle {
    margin-bottom:4px !important;
  }

  .add-task {
    position:absolute;
    left:50%;
    top:8px;
  }

  .back-to-dashboard {
    position:relative;
    left:2%;
    top:8px;
  }

  .edit-task {
    position:absolute;
    top:-1px;
    left:11.6%;
    font-size:15px;
  }

  .destroy-task {
    position:absolute;
    top:0;
    left:1%;
    font-size:12px;
  }

  .destroy-task-icon {
    font-size:16px;
    position:relative;
    top:2px;
  }

  .step-icon {
    font-size:12px;
  }

  .edit-status-update {
    position:absolute;
    left:1%;
    top:-1%;
    font-size:12px;
  }

    .box:first-child {
      margin-bottom:0;
    }
</style>
<body>

<%= link_to 'back to dashboard', projects_path, class: 'back-to-dashboard button is-info' %>
<%= link_to 'add task', new_task_path(project_id: @project.id), class: 'button is-success add-task', remote: true %>
<% @tasks.each do |task| %>
    <div style="background-color:<%= task.color? ? task.color : '' %>" class='task-div'>
      <%= link_to 'edit', edit_task_path(task), class: 'edit-task', remote: true %>
      <%= link_to task_path(task), method: :delete, data: {confirm: 'are you sure? This will destroy all related steps and statuses'}, class: 'destroy-task has-text-danger' do %>
          <i class="destroy-task-icon fa fa-trash"></i>
      <% end %>
      <div class="task-description">
        <h2 class="subtitle"><%= task.title %></h2>
        <p><%= task.description %></p>

      </div>
      <div class="project-step-border-wall"></div>
      <%= link_to 'Add step', new_step_path(task_id: task.id), class: 'new-step-link', remote: true %>
      <div class="step-list">
        <% task.steps.sort_by{|step| step.created_at}.each do |step| %>

            <%= link_to check_step_path(step_id: step.id), method: :patch do %>
              <input type="checkbox" <%= step.done ? "checked='checked'" : '' %>>
            <% end %>

            <span class="<%= 'done-step' if step.done %>"><%=step.title %></span>
            &nbsp;
            <%= link_to edit_step_path(step), remote: true do %>
                <i class="fa fa-edit step-icon"></i>
            <% end %>

            <%= link_to step_path(step), method: :delete, data: {confirm: 'are you sure?'} do %>
                <i style="position:relative;bottom:1px;" class="fa fa-trash step-icon"></i>
            <% end %>

            <br />
        <% end %>
      </div>
      <div class="step-status-border-wall"></div>
      <%= link_to 'New status', new_status_update_path(task_id: task.id), class: 'new-update-link', remote: true %>
      <div class="status-updates">
        <% task.status_updates.order(created_at: :desc).each do |status_update| %>
            <div class="box status-update">
              <span class="status-time"><%= status_update.created_at.strftime("%B %e,%l:%M %p") %></span>
              <%= status_update.notes %>
              <%= link_to 'edit', edit_status_update_path(status_update), class: 'edit-status-update', remote: true %>
            </div>
        <% end %>
      </div>
    </div>
    <hr>
<% end %>
</body>

<!--
<style>
  .task-container {
    height:240px;
    margin:20px;
  }
  .status-updates {
    width:100%;
  }
  .status-update {
    width:200px;
    height:200px;
    margin-right:8px;
    float:left;
    position:relative;
    word-wrap:break-word;
  }
</style>

<h1 class="title"><%#= @project.title %></h1>
<h2 class="subtitle"><%#= @project.description %></h2>

<%#= link_to 'add task/task', new_task_path(project_id: @project.id) %><br /><br />
<%# @project.tasks.each do |task| %>
    <div class="columns" style="background-color:grey;margin-bottom:32px;">
      <div class="card column is-2">
        <p class="subtitle has-text-weight-bold">
          <%#= task.title %>
        </p>
        <p>
          <%#= task.description %>
        </p>
      </div>
      <div class="column is-2">
        <%# task.steps.each do |step| %>
            <label class="checkbox">
              <%# if step.done %>
                  <%#= link_to step_path(step), method: :patch do %>
                    <input type="checkbox" checked="checked">
                  <%# end %>
                  <span style="text-decoration:line-through;">
                    <%#= step.title %>
                  </span>
              <%# else %>
                  <%#= link_to step_path(step), method: :patch do %>
                    <input type="checkbox">
                  <%# end %>
                  <%#= step.title %>
              <%# end %>
            </label>
            <br/>
        <%# end %>
        <%#= link_to 'add step', new_step_path(task_id: task.id) %>
      </div>
      <div class="column is-8 status-updates">
        <div class="box status-update">
          <%#= link_to 'new update', new_status_update_path(task_id: task.id) %>
        </div>
        <%# task.status_updates.order(created_at: :desc).each do |status_update| %>
          <div class="box status-update">
            <span style="position:absolute;top:0;right:0;font-size:12px;"><%#=status_update.created_at.strftime("%B %e,%l:%M %p")%></span>
            <!--<h2 class="subtitle"><%#= status_update.title %></h2>-->
            <%#= status_update.notes %>
          <!--</div>
        <%# end %>
      </div>
    </div>-->
<%# end %>
