<section class="section">
  <h1 class="title has-text-centered">Next milestones</h1>
  <% @now_goals.each do |now_task| %>
      <%= link_to edit_task_path(now_task) do %>
          <label for="checkbox">
            <input type="checkbox" class="checkbox">
            <span style="text-decoration:<%= 'line-through' if now_task.done? %>" %></span>
            <%= now_task.title %>
          </label>
        </span>

      <% end %>
  <% end %>
  <hr>
  <h1 class="title has-text-centered">
    Team tasks
  </h1>
  <div id="projects" data-active-project-index="<%= @active_project_index %>">
    <% @projects.each_with_index do |project, index| %>
        <%= render 'projects/project', project: project, project_index: index %>
    <% end %>
  </div>

</section>
