<!DOCTYPE html>
<html>
  <head>
    <title>MicahsTodoApp</title>
    <%= csrf_meta_tags %>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <!--<meta name=viewport content="width=device-width, initial-scale=1.0">-->
    <!--tag("meta", name: "csrf-param", content: request_forgery_protection_token)-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |message_type, message| %>
      <div class="isa_<%= message_type %> flash-offset flash-message">
        <%= message %>
      </div>
  <% end %>
  <script type="text/javascript">
      $( document ).on('turbolinks:load', function(){
          setTimeout(function() {
              $('[class^="isa_"]').fadeOut().empty();
          }, 4000);
      })
  </script>
  <!-- This makes it go away. comment if debugging   -->
    <%= yield %>
  </body>
</html>

